<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CodeEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CodeEditor.Properties.Settings>
            <setting name="WidthOfColumn" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="FullScreenForm" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsDotsNeed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsDotsCentreNeed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClEditorBackground" serializeAs="String">
                <value>WhiteSmoke</value>
            </setting>
            <setting name="ClEditorText" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ClGraphicBackground" serializeAs="String">
                <value>30, 30, 30</value>
            </setting>
            <setting name="ClListBackground" serializeAs="String">
                <value>30, 30, 30</value>
            </setting>
            <setting name="ClListText" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="ClLine" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ClArc" serializeAs="String">
                <value>DarkOrange</value>
            </setting>
            <setting name="ClSelectedItem" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="GraphicWidth" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="GraphicHeigth" serializeAs="String">
                <value>50</value>
            </setting>
        </CodeEditor.Properties.Settings>
    </userSettings>
</configuration>